:root {
	--primary-color: #F0C854;
	--light-dark: #080F20;
	--light: #fff;
	--text-color: #ababab;
	--title-color: #1e2530;
	--border-color: #eee;
	--font-family: 'Open Sans', serif;
}

#chatbot-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--title-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: 10px solid transparent;
  transition: border-color 0.3s ease;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1050;
  font-family: var(--font-family);
}

#chatbot-toggle:hover {
  border-color: var(--primary-color);
}

#chatbot-container {
  display: none;
  position: fixed;
  bottom: 60px;
  right: 20px;
  width: 500px;
  height: 600px;
  //justify-content: space-between;
  background-color: var(--title-color);
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  flex-direction: column;
  z-index: 1040;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: var(--font-family);
}

#chatbot-header {
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--title-color);
  text-align: center;
  text-emphasis: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#chatbot-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: var(--light-color);
}

#chatbot-input-container {
  display: flex;
  padding: 10px;
  background-color: var(--light-color);
}

#chatbot-input {
  flex: 1;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--light-color);
}

#chatbot-send-btn {
  padding: 5px 10px;
  background-color: var(--primary-color);
  color: var(--title-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-emphasis: bold;
}

#chatbot-send-btn:disabled {
  opacity: 0.5;
  text-emphasis: none;
  cursor: not-allowed;
}

#chatbot-messages {
  display: flex;
  flex-direction: column;
  //overflow-y: auto;
  //flex-grow: 1;
}

.chat-message {
  background-color: var(--light);
  border-radius: 8px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.2);
  color: var(--title-color);
  margin: 10px;
  padding: 10px;
  position: relative;
  z-index: 10;
  max-width: calc(100% - 120px);
  max-height: 70%;
  overflow-y: auto;
}

.chat-message img {
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.chat-message div {
  max-width: 70%;
  padding: 5px 10px;
  border-radius: 8px;
  background-color: var(--light-color);
  color: var(--title-color);
  flex-grow: 1;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

// Chat message user

.chat-message.user {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  margin-left: 0;
  margin-right: auto;
  width: fit-content;
  left: 25px;
  right: auto;
}

.chat-message.user img {
  margin-left: 5px;
  margin-right: auto;
  order: -1;
  left: -50px;
  right: auto;
}

.chat-message.user .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  order: -1;
}

/*
.chat-message.user::after {
  border-color: transparent var(--light) transparent transparent;
  border-style: solid;
  border-width: 15px;
  content: "";
  height: auto;
  left: 100%;
  margin-top: -5px;
  position: absolute;
  right: auto;
  top: 50%;
  //transform: translateY(-50%);
  transform: translate(-100%, -50%);
  width: auto;
}
*/

// Chat message bot

.chat-message.bot {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
  width: fit-content;
  right: 5px;
  left: auto;
}

.chat-message.bot img {
  margin-left: auto;
  margin-right: 5px;
}

.chat-message.bot .avatar {
  margin-left: auto;
  margin-right: auto;
}

/*
.chat-message.bot::after {
  border-color: transparent transparent transparent var(--light);
  border-style: solid;
  border-width: 15px;
  content: "";
  height: auto;
  left: auto;
  margin-top: -5px;
  position: absolute;
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
}
*/
