// Import images module
//
@import 'images';

//
// Import gallery slider module
//
@import 'gallery-slider';

:root {
    --image-width: 25%;
    --image-height: 25%;
}

/*------------------------------------------------
    404 Page
-------------------------------------------------*/

.error-content {
  text-align: center;
  color: #fff;
}

.error-heading {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
}

.error-subheading {
  font-style: italic;
  color: #ababab;
}

.error-image {
  display: block;
  margin: 0 auto;
  width: 318px;
  height: 220px;
}

/*------------------------------------------------
    Images
-------------------------------------------------*/

.image-center {
    text-align: center;
}

.responsive-image {
    display: block;
    margin: 0 auto;
    width: var(--image-width);
    height: var(--image-height);
    border-radius: 25px;
    border: 10px solid #F0C854;
}

/*------------------------------------------------
    Keys
-------------------------------------------------*/

.works-item {
    position: relative;
    overflow: hidden;
}

.works-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: #1e2530;
    cursor: pointer;
    text-decoration: none;
    display: block;
}

.works-item .overlay img {
    opacity: 0;
}

.works-item:hover .overlay {
    opacity: 1;
}

.works-inner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #F0C854;
}

.works-item:hover .works-inner {
  opacity: 1;
}

.works-inner h4,

.works-inner p {
  color: #F0C854;
  margin: 0;
  padding: 5px 0;
}
